@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$headingsFont: "Open Sans", sans-serif;
$textFont: "Poppins", sans-serif;
$noColor: transparent;
$darkBackground: linear-gradient(9.58deg, #0f141e 17.06%, #1f2839 91.34%);
// $lightBackground: rgba(255, 0, 46, 0.1);
$lightBackground: #fff6cc;
$whiteBackground: #ffffff;
$textDark: #0f141e;
$textLight: #ffffff;
$ctaBackground: #ff002e;
$textGray: #606062;
$boxShadow: 5px 5px 10px #8395a7;

body,
html {
  box-shadow: none;
  background: #ffffff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headingsFont;
  font-weight: 700;
  line-height: 1.2;
}

p,
span,
a,
button {
  font-family: $textFont;
  font-weight: 400;
  line-height: 1.5;
}

input,
textarea {
  background: transparent !important;
  outline: 0 !important;
  border: none !important;
  border-bottom: 1px solid $ctaBackground !important;
  border-radius: 0 !important;
  font-family: $textFont;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: none !important;
}

label {
  font-family: $textFont;
  font-weight: 500;
  font-size: 1rem;
  color: $textGray;
}

.main__nav {
  background: $darkBackground;
  padding: 1rem 0;
  color: $textLight;
  a {
    color: $textLight !important;
  }
}

.header {
  // background: $darkBackground;
  background: url("../img/real/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  h1 {
    color: $textLight;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }
  p {
    color: $textLight;
    margin-bottom: 2.5rem;
  }
  .get__started {
    background: $ctaBackground;
    color: $textLight;
    font-weight: 500;
    border-radius: 0;
    font-size: 1rem;
    &:hover {
      background: darken($color: $ctaBackground, $amount: 5%);
      color: $textLight;
    }
  }
  a {
    background: $ctaBackground;
    color: $textLight;
    font-weight: 500;
    border-radius: 0;
    font-size: 1rem;
    text-decoration: none;
    &:hover {
      background: darken($color: $ctaBackground, $amount: 5%);
      color: $textLight;
      text-decoration: none;
    }
  }
  i {
    margin-left: 1rem;
  }
}

.header__socials {
  position: absolute;
  bottom: 3%;
  display: flex;
  flex-direction: column;
  a {
    background: transparent;
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
    &:hover {
      background: transparent;
      text-decoration: none;
    }
  }
  i {
    margin-right: 1rem;
  }
  .headerSocials__line {
    border-left: 2px solid white;
    height: 25px;
    width: auto;
    position: absolute;
    bottom: -19%;
    left: 18.8%;
  }
}

.about {
  background: $lightBackground;
  height: auto;
  display: grid;
  place-content: center;
  padding: 3rem 0;
  h5 {
    margin-bottom: 1.5rem;
  }
  h1 {
    margin-bottom: 1.5rem;
  }
  p {
    font-weight: 500;
    padding: 1rem 10rem;
    font-size: 1.3rem;
    color: $textGray;
    line-height: 2;
  }
}

// Blog Header

.blog__header {
  // background: $darkBackground;
  background: url("../img/real/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 70vh;
  flex-direction: row;
  align-items: center;
  position: relative;

  h1 {
    color: $textLight;
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2.5rem;
  }
  p {
    color: $textLight;
    margin-bottom: 2.5rem;
  }
}

.blog__view,
.singlePost__view,
.careers {
  background: $lightBackground;
}

.services {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.3rem;
  }
}

.service__card {
  background: #f7f9ff;
  padding: 4rem;
  box-shadow: $boxShadow;
  h6 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  img {
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }
  i {
    margin-left: 1rem;
  }
  a {
    color: $textDark;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
      text-decoration: none;
      color: $textDark;
      transform: scale(10%);
    }
  }
}

.portfolio {
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-size: 1.3rem;
  }
}

.owl-theme {
  .item {
  }
}

.contact {
  background: $lightBackground;
  .get__started {
    background: $ctaBackground;
    color: $textLight;
    font-weight: 500;
    border-radius: 0;
    font-size: 1rem;
    outline: 0;
    border: none;
    padding: 0.9rem 2.5rem;
    &:hover {
      background: darken($color: $ctaBackground, $amount: 5%);
      color: $textLight;
    }
  }
  .fa-at,
  .fa-phone {
    margin-bottom: 1.5rem;
    color: $ctaBackground;
    font-size: 1.5rem;
  }
  .send__icon {
    margin-left: 1rem;
  }
}

.testimonials {
  // background: $darkBackground;
  background: url("../img/real/reviews-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: $textLight;
  }
  .testimonial__text {
    color: $textLight;
    font-size: 2.2rem;
    font-family: $headingsFont;
    font-style: italic;
  }
  span {
    color: $textLight;
  }
  .block__quote {
    color: $textLight;
    font-size: 8rem;
    line-height: 0;
  }
}

.customer__creds {
  i {
    color: $textLight;
    font-size: 2.5rem;
  }
  p {
    line-height: 0.5;
    margin-left: 1rem;
    color: $textLight;
    margin-bottom: 0;
  }
  span {
    line-height: 0.5;
    margin-left: 1rem;
    color: $textLight;
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 0;
  }
}

.customer__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5rem;
  img {
    max-width: 48px;
    height: auto;
  }
}

.footer {
  background: url("../img/real/reviews-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h5 {
    color: $textLight;
  }
  p {
    color: $textLight;
  }

  .footer__links {
    width: 100%;
    padding: 3rem 1.5rem;
    border-top: 1px solid $textGray;
    border-bottom: 1px solid $textGray;
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center;
    a {
      color: $textLight;
      text-decoration: none;
      // margin-right: 3rem;
    }
  }
}

.post__heading {
  color: $textDark;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $ctaBackground;
  }
  h6 {
    font-size: 1.5rem;
  }
}

.readMore__post {
  color: $textDark;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
  &:hover {
    color: $ctaBackground;
  }
}

.grow__section {
  background: $lightBackground;
  padding: 5rem 0;
  h1 {
    font-size: 4.5rem;
  }

  .growText__bottom {
    font-size: 4.7rem;
    font-family: $headingsFont;
    font-weight: 800;
    line-height: 1.5;
    span {
      font-size: 4.7rem;
      font-family: $headingsFont;
      font-weight: 800;
      line-height: 1.5;
      background-color: #ffe8e3;
    }
  }
}

// Side Drawer Nav

.bread__crumb > .btn__drawer > i {
  font-size: 1.5rem;
  color: $textLight;
  font-weight: 700;
}

.btn__drawer {
  background-color: transparent;
  border: none;
  outline: 0;
  padding-right: 0;
  margin-right: 0;
}

.drawer__nav {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // background: $darkBackground;
}

.drawerNav {
  background: $darkBackground;
}

.drawer {
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3002;
  padding: 1.8rem;
  background: $darkBackground;
  box-sizing: border-box;
}

.drawer__off {
  display: none;
}

.drawer__list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drawer__item:last-child {
  border-bottom: #efefef solid 0;
}

.drawer__item:first-child {
  border-bottom: #efefef solid 0;
}

.drawer__item {
  margin-bottom: 1rem;
  padding-right: 1rem;
  // border-bottom: $textDark solid 2px;
  width: 100%;
  text-align: right;
  padding-bottom: 1rem;
}

.drawer__item > a {
  color: #fff;
  font-size: 20px;
  width: 100%;
}

.drawer__item > a:hover {
  color: #fff;
  text-decoration: none;
}

.openApp__btn {
  border: none;
  border-radius: 10px;
  font-size: 13px;
  height: auto;
  width: 40%;
  text-align: center;
  background: $ctaBackground;
  color: $textDark;
  padding: 1rem;
  font-family: $textFont;
}

.openApp__btn:hover {
  background: $darkBackground;
}

.fa-xmark {
  font-size: 1.5rem;
  color: #fff;
}

#btn__xmark {
  background-color: transparent;
  border: none;
  text-align: right;
  &:hover {
    background-color: transparent !important;
  }
}

@media screen and (max-width: 768px) {
  .header {
    h1 {
      font-size: 3rem;
    }
  }

  .about {
    p {
      padding: 1rem;
    }
  }

  .service__card {
    padding: 4rem 1rem;
    h6 {
      font-size: 1.5rem;
    }
  }

  .grow__section {
    h1 {
      font-size: 3rem;
    }
    .growText__bottom {
      font-size: 3rem;
      span {
        font-size: 3rem;
      }
    }
  }

  .links__disp {
    display: none;
  }

  .block__quote {
    display: none;
  }
}
