@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body,
html {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #ffffff;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

p,
span,
a,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

input,
textarea {
  background: transparent !important;
  outline: 0 !important;
  border: none !important;
  border-bottom: 1px solid #ff002e !important;
  border-radius: 0 !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #606062;
}

.main__nav {
  background: linear-gradient(9.58deg, #0f141e 17.06%, #1f2839 91.34%);
  padding: 1rem 0;
  color: #ffffff;
}

.main__nav a {
  color: #ffffff !important;
}

.header {
  background: url("../img/real/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.header p {
  color: #ffffff;
  margin-bottom: 2.5rem;
}

.header .get__started {
  background: #ff002e;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0;
  font-size: 1rem;
}

.header .get__started:hover {
  background: #e60029;
  color: #ffffff;
}

.header a {
  background: #ff002e;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0;
  font-size: 1rem;
  text-decoration: none;
}

.header a:hover {
  background: #e60029;
  color: #ffffff;
  text-decoration: none;
}

.header i {
  margin-left: 1rem;
}

.header__socials {
  position: absolute;
  bottom: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__socials a {
  background: transparent;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}

.header__socials a:hover {
  background: transparent;
  text-decoration: none;
}

.header__socials i {
  margin-right: 1rem;
}

.header__socials .headerSocials__line {
  border-left: 2px solid white;
  height: 25px;
  width: auto;
  position: absolute;
  bottom: -19%;
  left: 18.8%;
}

.about {
  background: #fff6cc;
  height: auto;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding: 3rem 0;
}

.about h5 {
  margin-bottom: 1.5rem;
}

.about h1 {
  margin-bottom: 1.5rem;
}

.about p {
  font-weight: 500;
  padding: 1rem 10rem;
  font-size: 1.3rem;
  color: #606062;
  line-height: 2;
}

.blog__header {
  background: url("../img/real/header-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.blog__header h1 {
  color: #ffffff;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.blog__header p {
  color: #ffffff;
  margin-bottom: 2.5rem;
}

.blog__view,
.singlePost__view {
  background: #fff6cc;
}

.services h1 {
  font-size: 3.5rem;
}

.services p {
  font-size: 1.3rem;
}

.service__card {
  background: #f7f9ff;
  padding: 4rem;
  -webkit-box-shadow: 5px 5px 10px #8395a7;
          box-shadow: 5px 5px 10px #8395a7;
}

.service__card h6 {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.service__card img {
  margin-bottom: 1rem;
}

.service__card p {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.service__card i {
  margin-left: 1rem;
}

.service__card a {
  color: #0f141e;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.service__card a:hover {
  text-decoration: none;
  color: #0f141e;
  -webkit-transform: scale(10%);
          transform: scale(10%);
}

.portfolio h1 {
  font-size: 3.5rem;
}

.portfolio p {
  font-size: 1.3rem;
}

.contact {
  background: #fff6cc;
}

.contact .get__started {
  background: #ff002e;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0;
  font-size: 1rem;
  outline: 0;
  border: none;
  padding: 0.9rem 2.5rem;
}

.contact .get__started:hover {
  background: #e60029;
  color: #ffffff;
}

.contact .fa-at,
.contact .fa-phone {
  margin-bottom: 1.5rem;
  color: #ff002e;
  font-size: 1.5rem;
}

.contact .send__icon {
  margin-left: 1rem;
}

.testimonials {
  background: url("../img/real/reviews-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials h1 {
  color: #ffffff;
}

.testimonials .testimonial__text {
  color: #ffffff;
  font-size: 2.2rem;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
}

.testimonials span {
  color: #ffffff;
}

.testimonials .block__quote {
  color: #ffffff;
  font-size: 8rem;
  line-height: 0;
}

.customer__creds i {
  color: #ffffff;
  font-size: 2.5rem;
}

.customer__creds p {
  line-height: 0.5;
  margin-left: 1rem;
  color: #ffffff;
  margin-bottom: 0;
}

.customer__creds span {
  line-height: 0.5;
  margin-left: 1rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-style: italic;
  margin-bottom: 0;
}

.customer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
}

.customer__info img {
  max-width: 48px;
  height: auto;
}

.footer {
  background: url("../img/real/reviews-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer h5 {
  color: #ffffff;
}

.footer p {
  color: #ffffff;
}

.footer .footer__links {
  width: 100%;
  padding: 3rem 1.5rem;
  border-top: 1px solid #606062;
  border-bottom: 1px solid #606062;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__links a {
  color: #ffffff;
  text-decoration: none;
}

.post__heading {
  color: #0f141e;
  text-decoration: none;
}

.post__heading:hover {
  text-decoration: none;
  color: #ff002e;
}

.post__heading h6 {
  font-size: 1.5rem;
}

.readMore__post {
  color: #0f141e;
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 600;
}

.readMore__post:hover {
  color: #ff002e;
}

.grow__section {
  background: #fff6cc;
  padding: 5rem 0;
}

.grow__section h1 {
  font-size: 4.5rem;
}

.grow__section .growText__bottom {
  font-size: 4.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  line-height: 1.5;
}

.grow__section .growText__bottom span {
  font-size: 4.7rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  line-height: 1.5;
  background-color: #ffe8e3;
}

.bread__crumb > .btn__drawer > i {
  font-size: 1.5rem;
  color: #ffffff;
  font-weight: 700;
}

.btn__drawer {
  background-color: transparent;
  border: none;
  outline: 0;
  padding-right: 0;
  margin-right: 0;
}

.drawer__nav {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.drawerNav {
  background: linear-gradient(9.58deg, #0f141e 17.06%, #1f2839 91.34%);
}

.drawer {
  display: block;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3002;
  padding: 1.8rem;
  background: linear-gradient(9.58deg, #0f141e 17.06%, #1f2839 91.34%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.drawer__off {
  display: none;
}

.drawer__list {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.drawer__item:last-child {
  border-bottom: #efefef solid 0;
}

.drawer__item:first-child {
  border-bottom: #efefef solid 0;
}

.drawer__item {
  margin-bottom: 1rem;
  padding-right: 1rem;
  width: 100%;
  text-align: right;
  padding-bottom: 1rem;
}

.drawer__item > a {
  color: #fff;
  font-size: 20px;
  width: 100%;
}

.drawer__item > a:hover {
  color: #fff;
  text-decoration: none;
}

.openApp__btn {
  border: none;
  border-radius: 10px;
  font-size: 13px;
  height: auto;
  width: 40%;
  text-align: center;
  background: #ff002e;
  color: #0f141e;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
}

.openApp__btn:hover {
  background: linear-gradient(9.58deg, #0f141e 17.06%, #1f2839 91.34%);
}

.fa-xmark {
  font-size: 1.5rem;
  color: #fff;
}

#btn__xmark {
  background-color: transparent;
  border: none;
  text-align: right;
}

#btn__xmark:hover {
  background-color: transparent !important;
}

@media screen and (max-width: 768px) {
  .header h1 {
    font-size: 3rem;
  }
  .about p {
    padding: 1rem;
  }
  .service__card {
    padding: 4rem 1rem;
  }
  .service__card h6 {
    font-size: 1.5rem;
  }
  .grow__section h1 {
    font-size: 3rem;
  }
  .grow__section .growText__bottom {
    font-size: 3rem;
  }
  .grow__section .growText__bottom span {
    font-size: 3rem;
  }
  .links__disp {
    display: none;
  }
  .block__quote {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */